<section class="section logo-section">
    <h1 class="frag-header mont-txt"><span>I Love This Movie</span></h1>
    <form class="mont-txt" id="movie-form">
        <input type="text" id="movie-search" placeholder="What's the title?">
        <button class="b-cta mont-txt" id="find-movie">Find it</button>
    </form>
    <div id="movies-results" class="results">
    </div>
</section>