.section {

    padding: 0 40px;
}

.frag-header {

    font-size: 32px !important;
    font-weight: 700 !important;
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-height: 120px;
}

.b-cta {

    padding: 11px 12px;
    background-color: #7da464;
    border: none;
    cursor: pointer;
    color: white !important;
}

#get-cat {

    margin-top: 25px;
}

/*
Lesson 2
*/
.results {

    margin-top: 81px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 40px
}

.result {

    width: 260px;
    height: 260px;
    position: relative;
}

.result > img {

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-details {

    background-color: rgba(0,0,0,.8);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: max-content;
    padding: 14px 10px;
    box-sizing: border-box;
}

.card-details > p {

    color: white;
    margin: 0;
}

.card-details > p:first-child {

    font-size: 24px;
    font-weight: 700;
}

.card-details > p:last-child {

    margin-top: 6px;
    font-size: 10px;
    font-weight: 300;
}

#loading-ui > img {

    background-color: #6b929a;
}

/*Don't show card details for new cat*/
#new-cat > .card-details {

    display: none;
}