<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Build a Web App with Oats~i: Lesson 1</title>
</head>
<body>
    <app-root id="my-app">
        <div id="nav">
            <div id="logo"><p class="mont-txt"><span>&lt;/&gt;</span>Public APIs</p></div>
            <div id="links">
                <a href="/" class="nav-link mont-txt http-cats-link">HTTP Cats</a>
                <a href="/movies" class="nav-link mont-txt movies-link">Movies</a>
            </div>
        </div>
        <main-fragment>
            
        </main-fragment>
    </app-root>
</body>
</html>