<section class="section">
    <h1 class="frag-header mont-txt"><span>Get Me a Random Cat</span></h1>
    <button class="b-cta mont-txt" id="get-cat">Meeeow</button>
    <div id="cats-results" class="results">
    </div>
</section>